.main-container{
	background-color:#f5f5f5;
	padding: 20px;
}

.testimonials{
	background:#ffffff;
	border:1px solid #ddd;
	padding:15px 20px;
	margin-bottom:15px;
}

.author{
	text-align:right;
	font-style:italic;
}
