/*  your css code here. If applicable */
.main-container{
	background-color:#f5f5f5;
	padding: 20px;
}

.testimonials{
	border: 1px solid #ddd;
	background:white;
	padding: 15px 20px;
	margin-bottom: 15px;
}

.author{
	text-align: right;
	font-style: italic;
	color: #333;
}
