/*  your css code here. If applicable */
.main-container{
	background-color:#f5f5f5;
	border:1px solid black;
	padding-left:20px;
}

.testimonials{
	border:1px solid black;
	background:white;
	padding:10px 10px;
	margin:25px 15px;
}
.author{
	text-align:end
}